.guide-page {
    background-color: #070303;
    background-image: url("../../assets/img/bg-ranking.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    top: 0;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

.guide-content {
    font-family: 'GothamLight', serif;
    font-weight: bold;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    color: #000 !important;
}

.guide-content > p {
    text-align: justify;
    color: #000 !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.guide-content > h1 {
    padding-top: 15px;
    text-align: left;
    color: #000 !important;
}
