.home {
  padding-top: 12em;
  background-color: #131416;
  background-image: url('../../assets/img/bg-home.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  top: 0;
}

.content-header {
  height: 17em;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  text-align: center;
}

.content-header h1 {
  color: #e59c67;
  font-size: 0.8em;
  font-weight: 600;
  font-family: 'GothamLight', serif;
  text-shadow: rgba(0, 0, 0, 0.3) 0.1em 0.1em 0.2em;
}

.content-header h2 {
  width: 33%;
  margin-left: 33%;
  margin-right: 33%;
  text-align: center;
  align-items: center;
  color: #fff7ea;
  font-size: 2em;
  font-weight: 600;
  margin-top: 0.5em;
  font-family: 'Allroundgothic', serif;
  text-shadow: rgba(0, 0, 0, 0.3) 0.1em 0.1em 0.2em;
}

.content-header h3 {
  color: #f3d59d;
  font-size: 0.7em;
  font-weight: 100;
  letter-spacing: 0.1em;
  font-family: 'GothamLight', serif;
  text-shadow: rgba(0, 0, 0, 0.3) 0.1em 0.1em 0.2em;
}

.content-header span {
  color: #f49345;
  font-size: 0.7em;
  font-weight: 400;
}

.content-header span:hover {
  color: #ffc697;
}

.button-header button {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 0.5em;
  border-radius: 3em;
  width: 12em;
  max-height: 3.6em;
  padding: 0.2em;
  font-size: 1.1em;
  font-weight: 500;
  color: #f0e4dd;
  border: 0.15em solid rgb(197, 124, 81);
  background-color: rgba(136, 82, 61, 0.9);
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  transition: 1s;
  cursor: pointer;
  font-family: 'GothamBold', serif;
}

.button-header small {
  font-size: 0.6em;
  color: #e0cfad;
  font-weight: 100;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-family: 'GothamLight', serif;
}

.button-header button:hover {
  filter: brightness(150%);
  transform: translateY(-0.5em);
  transition: 1s;
}

.notice-home {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

.content-notice {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.notice {
  width: 17em;
  align-items: center;
  text-align: center;
  background: linear-gradient(0deg, #e2d9ca 0%, rgba(114, 82, 77, 1) 100%);
  border-radius: 0 0 1.5em 1.5em;
  margin: 1em;
  flex-wrap: wrap;
  transition: 1s;
  cursor: pointer;
}

.notice:hover {
  transform: translateY(-1.7em);
  transition: 1s;
}

.content-notice2 {
  padding: 1em;
}

.notice h1 {
  font-family: 'GothamBold', serif;
  font-size: 1em;
  color: #222121;
  margin-bottom: 0.2em;
}

.notice h2 {
  font-family: 'GothamLight', serif;
  font-size: 0.9em;
  color: #3b3936;
}

.notice span {
  color: #754d2d;
  font-size: 0.8em;
  font-weight: 200;
  font-family: 'GothamLight', serif;
}

.notice-divider img {
  width: 10em;
  margin-bottom: 0.2em;
}

.notice-image img {
  width: 17em;
}

.divider img {
  margin-top: 0.6em;
  width: 15em;
}

.content-map button {
  background-color: rgb(193, 134, 21, 0.5);
  width: 10em;
  border: 0.1em solid #ba8436;
  border-radius: 2em;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  padding: 0.4em;
  cursor: pointer;
  margin-top: 1em;
}

.content-map button:hover {
  filter: brightness(150%);
}

.news-title {
  align-items: center;
  text-align: center;
  margin-bottom: 1em;
}

.news-title h1 {
  font-size: 2em;
  color: #f6f6f6;
  font-family: 'Allroundgothic', serif;
}

.news-title img {
  margin-top: 0.6em;
  width: 10em;
}

.sliderclass-home {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  overflow-y: hidden;
}

.box-list-indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1em;
  gap: 1em;
  display: flex;
}

.indicator-list {
  width: 0.5em;
  height: 0.5em;
  border-radius: 1em;
  background-color: #edc579;
  transition: 200ms ease-in-out;
}

.indicator-list.select {
  transform: scale(1.4);
}

.slider-class-box {
  display: flex;
  flex-wrap: nowrap;
  transition: 200ms ease-in-out;
}

.btn-handle-slider {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
}

.slide-box {
  width: 100vw;
}

.class-field {
  display: flex;
  position: relative;
  justify-content: center;
}

.class-image {
  width: 50vw;
  height: 30em;
  z-index: 1;
}

.class-image img {
  width: 30em;
  margin-left: 30%;
}

.content-class2 {
  width: 50vw;
  height: 30em;
}

.content-class2 h1 {
  font-size: 2.2em;
  font-family: 'Allroundgothic', serif;
  text-transform: uppercase;
  color: #edc579;
}

.content-class2 h2 {
  font-size: 0.7em;
  font-family: 'GothamLight', serif;
  color: #d1ccc2;
}

.content-class2 h3 {
  font-size: 0.9em;
  font-family: 'GothamLight', serif;
  color: #dbc59b;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.elementoclass {
  position: absolute;
  width: 25em;
  height: 25em;
  border: 0.1em solid rgb(206, 176, 113);
  animation: loading 5s linear infinite;
  clip-path: ellipse(40% 80%);
  transition: 2s;
  border-radius: 13em;
  margin-left: 17em;
  z-index: -1;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.dividerclass img {
  width: 10em;
  margin-top: 0.5em;
}

.video-class {
  width: 30em;
}

.video-content {
  position: relative;
  width: 30.1em;
  height: 17em;
  border: 0.1vw solid rgb(133, 115, 66, 0.5);
}

.video-content video[poster] {
  width: 30em;
  height: 16.9em;
}

.video-class.play + .buttonHandleVideo {
  opacity: 0;
}

.video-class.play:hover + .buttonHandleVideo {
  opacity: 1 !important;
}

.buttonHandleVideo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  transition: 20ms ease-in-out;
  background: transparent;
}

.stylebtn {
  border: 0;
  cursor: pointer;
  width: 10em;
  height: 10em;
}

.buttonHandleVideo img {
  cursor: pointer;
  width: 3em;
}

.buttonHandleVideo:hover {
  opacity: 1 !important;
}

.btn-handle-slider button {
  background: transparent;
  border: 0;
  margin: 3rem;
  cursor: pointer;
}

.btn-handle-slider button:hover {
  filter: brightness(150%);
}

.btn-handle-slider button img {
  width: 3rem;
}

/* Chrome, Safari, e navegadores baseados no WebKit */
video::-webkit-media-controls-panel {
  display: none !important;
}

/* Firefox */
video::-moz-chooser-wrapper {
  display: none !important;
}

/* Edge (até a versão baseada no EdgeHTML) */
video::-ms-media-controls-panel {
  display: none !important;
}

.slick-arrow::before {
  display: none !important;
}

@media (max-width: 920px) {
  .notice {
    width: 100%;
  }

  .notice span {
    font-size: 1.5em;
  }

  .notice h1 {
    font-size: 3em;
  }

  .notice h2 {
    font-size: 2.5em;
  }

  .notice-divider img {
    width: 20em;
  }

  .notice-image {
    overflow: hidden;
    height: 15em;
  }

  .notice-image img {
    width: 100%;
  }

  .content-header {
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 1em;
    text-align: center;
    align-items: center;
  }

  .content-header h1 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2em;
  }

  .content-header h2 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 4em;
  }

  .content-header h3 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3em;
  }

  .content-header span {
    font-size: 3em;
  }

  .button-header {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
    justify-content: center;
  }

  .button-header button {
    font-size: 4em;
    padding: 1em;
    display: flex;
    text-align: center;
  }

  .news-title h1 {
    font-size: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .news-title img {
    width: 34em;
  }

  .divider img {
    width: 35em;
  }

  .class-image {
    width: 0;
    display: none;
  }

  .content-class2 {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
    align-items: center;
    height: auto;
  }

  .content-class2 h1 {
    font-size: 4em;
    margin-top: 1em;
  }

  .content-class2 h2 {
    font-size: 2em;
  }

  .content-class2 h3 {
    font-size: 2em;
  }

  .dividerclass img {
    width: 20em;
  }

  .video-content {
    transform: scale(150%);
    margin-left: 30vw;
    width: 30.5vw;
    height: auto;
    margin-bottom: 13em;
    margin-top: 10em;
  }

  .video-class {
    width: 44vw;
    height: 20vw;
  }

  .btn-handle-slider button img {
    width: 10em;
  }
}
