.accepted-aging-items-table {
    width: 30%;
}

.aging-stones-table {
    width: 40%;
}

.aging-chances-table > thead > tr > td {
    text-align: center;
    color: #000;
}

.aging-cost-table {
    width: 30%;
}