.header-box {
  position: fixed;
  top: 2vw;
  left: 50%;
  transition: ease-in-out 100ms;
  width: 80%;
  transform: translate(-50%);
  z-index: 100;
}

.desktop-nav .header-main::after {
  background: rgba(68, 47, 38, 0.5);
  content: '';
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.desktop-nav {
  width: 100%;
  overflow: hidden;
}

.header-box.scrolled {
  top: 0;
  width: 100%;
}

.desktop-nav .header-main {
  height: 3vw;
  width: 100%;
  transition: ease-in-out 100ms;
  display: flex;
  position: relative;
  z-index: 5;
  border-radius: 2vw;
  overflow: hidden;
  background-image: url('../../assets/img/1.webp');
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 8px rgba(8, 8, 8, 0.3);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.header-box.scrolled > .desktop-nav .header-main {
  height: 2.2vw;
  padding: 0 5vw;
  border-radius: 0;
}

.desktop-nav .header-logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 11vw;
  background: transparent;
  transition: ease-in-out 100ms;
}

.desktop-nav .header-logo-box > .on-scroll {
  display: none;
}

.desktop-nav .header-logo-box > .on-scroll img {
  width: 2vw;
}

.header-box.scrolled > .desktop-nav .header-logo-box {
  width: 4vw;
}

.header-box.scrolled > .desktop-nav .header-logo-box > .on-scroll {
  display: block;
}

.header-box.scrolled > .desktop-nav .header-logo-box > .off-scroll {
  display: none;
}

.off-scroll img {
  width: 2vw;
}

.desktop-nav .options-box {
  background: transparent;
  height: 100%;
  width: 100%;
  transition: ease-in-out 200ms;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5vw;
}

.desktop-nav .left-content-box,
.desktop-nav .right-content-box {
  height: 100%;
  display: flex;
}

.desktop-nav .left-content-box button {
  background-color: transparent;
  border: 0;
  border-left: 1px solid rgba(185, 163, 145, 0.1);
  text-align: center;
  text-decoration: none;
}

.option-menu-header {
  height: 100%;
  padding: 0 0.7em;
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

.option-menu-header .list-indicator {
  transition: 150ms ease-in-out;
  height: 100%;
}

.option-menu-header.openned .list-indicator {
  transform: rotate(180deg);
}

.option-menu-header span {
  color: #e2c88e;
  text-transform: uppercase;
}

.option-menu-header span:hover {
  color: #fff7e4;
}

.desktop-nav .sub-menu-list-box {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 0 0 1em 1em;
  background: linear-gradient(0deg, #e2d9ca 0%, #9c907a 100%);
  transition: 100ms ease-in-out;
  padding: 1vw 2vw;
  overflow-y: hidden;
  position: relative;
  z-index: 0;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 8px rgba(8, 8, 8, 0.3);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.desktop-nav .sub-menu-list-box.closed {
  height: 0;
  transform: translateY(-100%);
  opacity: 0;
}

.desktop-nav .sub-menu-list-box.openned {
  transform: translateY(0%);
  display: block;
  height: 14vw;
}

.scrolled .desktop-nav .sub-menu-list-box {
  padding: 1vw 5vw;
}

.desktop-nav .genric-sub-options-box {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.desktop-nav .genric-sub-options-box.openned {
  display: flex;
}

.desktop-nav .genric-sub-options-box .column-sub-options {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2vw;
  padding: 0 1vw;
}

.desktop-nav .column-sub-options > button > span {
  color: black;
  text-transform: uppercase;
  background-color: transparent;
  color: #e2c88e;
}

.column-sub-options button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.desktop-sub-menu span {
  color: #e2c88e;
  background-color: transparent;
  cursor: pointer;
}

.desktop-sub-menu span:hover {
  color: #faf5eb;
}

.desktop-sub-menu p {
  color: #2b2523;
  background-color: transparent;
  cursor: pointer;
  font-weight: 100;
}

.desktop-sub-menu p:hover {
  color: #5f5248;
}

.mobile-nav {
  display: none;
  width: 100%;
}

.mobile-nav header {
  height: 7.2vw;
  background-image: url('../../assets/img/1.webp');
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 8px rgba(8, 8, 8, 0.3);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}

.mobile-nav header > button {
  height: 100%;
  width: 15vw;
  background-color: transparent;
  color: #e2d9ca;
}

.mobile-nav header > button > span {
  font-size: 3vw;
  color: #e2d9ca;
}

.side-bar-box {
  width: 60vw;
  background: #dfd5c6;
  min-height: 100vh;
  position: absolute;
  z-index: 5;
  top: 0;
  transition: 300ms ease-in-out;
  transform: translateX(-100%);
}

.side-bar-box.openned {
  transform: translateX(-0.1%);
}

.close-mobile-menu {
  height: 6vw;
  width: 15vw;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  margin: 0 auto;
  float: right;
}

.close-mobile-menu > span {
  font-size: 4vw;
  color: #ffffff;
  cursor: pointer;
}

.mobile-logo-box img {
  width: 10vh;
  margin: 1vh;
}

.mobile-options-box {
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
}

.mobile-option {
  width: 100%;
}

.mobile-option > button {
  width: 100%;
  height: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cac0b2;
}

.mobile-option > button > span {
  color: black;
  font-size: 3vw;
}

.mobile-option > button > img {
  height: 100%;
}

.mobile-sub-option-box {
  background: #aba398;
}

.mobile-sub-option-box .sub-option-indicator {
  height: 4em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-sub-option-box .sub-option-indicator > img {
  height: 100%;
}

.mobile-sub-option-box .sub-option-indicator > span {
  color: black;
  font-size: 3vw;
}

.mobile-sub-option-box > div > .mobile-sub-option-main {
  flex-direction: column;
  display: none;
}

.mobile-sub-option-box > div > .mobile-sub-option-main > button {
  height: 3vw;
}

.mobile-sub-option-box > div > .mobile-sub-option-main > button > span {
  color: black;
  font-size: 2vw;
}

.mobile-sub-menu-option-generic {
  font-size: 3vh;
  background-color: transparent;
}

.mobile-sub-menu-option-generic span {
  font-size: 2vh;
  color: #000;
  font-weight: 500;
  margin: 1em;
}

.mobile-sub-option-box {
  display: none;
  flex-direction: column;
}

.mobile-sub-option-box.openned {
  display: flex;
}

.mobile-sub-option-main.openned {
  display: flex !important;
}

.mobile-sub-option-btn {
  width: 100%;
  height: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cac0b2;
}

.mobile-sub-option-btn span {
  color: #000;
  font-size: 3em;
}

.mobile-sub-option-btn > img {
  transition: ease-in-out 200ms;
}

.mobile-sub-option-btn.openned > img {
  transform: rotate(180deg);
}

.sub-option-indicator > img {
  transition: ease-in-out 200ms;
}

.sub-option-indicator.openned > img {
  transform: rotate(180deg);
}

@media (max-width: 920px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .header-box {
    top: 0;
    width: 100%;
  }
}
