.teste2 {
    color: #fff;
}

.ranking-page {
    background-color: #070303;
    background-image: url("../../assets/img/bg-ranking.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    top: 0;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

.iconranking  {
    margin-top: 1em;
}
.iconranking img {
    width: 5em;
}

.button-toggle-ranking{
    padding: 0.5em;
    font-size: 1em;
    background-color: #978f7f;
    color: #ebeaea;
    margin: 0.4em;
    cursor: pointer;
}

.button-toggle-ranking:hover{
    filter: brightness(120%);
}

.Select {
    background-color: #2a1e18;
    color: #fff;
}

.ranking-content2 {
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
   
}

.ranking-content2 table {
    -webkit-box-shadow: 0em 1em 1em rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0em 1em 1em rgba(8, 8, 8, 0.1);
    box-shadow: 0em 1em 1em rgba(0, 0, 0, 0.1);
}
.ranking-content2 table,
th,
td {
    border: 0px ;
    padding: 0.5em;
    font-size: 1em;
    width: 81vw;
    color: #000;
}

.ranking-content2 tr {
    background-color: #e2d9ca;
    

}

.ranking-content2 tr:hover {
    filter: brightness(105%);
}


@media (max-width: 920px) {


    .iconranking img {
        width: 15em;
    }
    
    .button-toggle-ranking{
        padding: 0.5em;
        font-size: 3em;
        background-color: #978f7f;
        color: #ebeaea;
        margin: 0.4em;
        cursor: pointer;
    }
    

    .ranking-content2 table,
    th,
    td {
        border: 0px ;
        padding: 0.5em;
        font-size: 3em;
        width: 81vw;
        color: #000;
    }
    
    .ranking-content2 tr {
        background-color: #e2d9ca;
        
    
    }
    
    .ranking-content2 tr:hover {
        filter: brightness(105%);
    }
    .Select {
        background-color: #2a1e18;
        color: #fff;
    }
}