footer {
    background-color: #201a16;
    width: 100%;
    overflow: hidden;
    font-size: 2em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

nav ul li {
    margin-right: 20px;
    display: inline-block;
}

.social-icons {
    width: 50%;
    margin: 1em 25%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.footer-buttons {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 1em;
}

.footer-social-2 {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 0.3em;
    background-color: #2a1e18;
}

.font-style {
    color: rgb(255, 246, 225);
    font-weight: 400;
}

.footer-buttons li {
    color: #ffffff;
}

.footer-social {
    align-items: center;
    text-align: center;
    margin-bottom: 1em;

}

.haru {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 1em;
}

.haru h1 {
    color: #ebe4d8;
    font-family: 'Allroundgothic', serif;
    font-size: 8pt;
}

.haru h2 {
    color: #e6dbc9;
    font-family: 'GothamLight', serif;
    font-size: 6pt;
    letter-spacing: 0.4em;
    margin-top: -0.3em;
}

.edited {
    padding-top: 2px;
    padding-bottom: 12px;
    width: 100%;
    align-items: center;
    text-align: center;
    font-family: 'GothamLight', serif;
    margin-top: -0.3em;
}

.edited p {
    font-size: 7pt;
}

.heart {
    fill: red;
}

.menu-footer {
    margin-top: 20px;
    font-family: 'GothamLight', serif;
    font-size: 12pt;
    align-items: center;
    text-align: center;
}

.menu-footer a {
    font-family: 'GothamLight', serif;
    font-size: 12pt;
}

.menu-footer a:hover {
    color: #e4cca5;
}

@media (max-width: 920px) {
    nav ul li {
        font-size: 2em;
    }

    .social-icons {
        transform: scale(250%);
    }

    .social-icons li {
        display: inline-block;
        margin-right: 10px;
    }

    .footer-buttons {
        display: none;

    }

    .footer-social {
        display: none;
    }

    .haru {
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 1em;
    }

    .haru h1 {
        color: #ebe4d8;
        font-family: 'Allroundgothic', serif;
        font-size: 8pt;
    }

    .haru h2 {
        color: #e6dbc9;
        font-family: 'GothamLight', serif;
        font-size: 4pt;
        letter-spacing: 0.4em;
        margin-top: -0.3em;
    }

    .edited {
        padding-top: 12px;
        padding-bottom: 12px;
        width: 100%;
        align-items: center;
        text-align: center;
        font-family: 'GothamLight', serif;
    }

    .heart {
        fill: red;
    }
}